# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub/
.pub-cache/
build/

# Android
android/.gradle/
android/local.properties
android/key.properties

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/
ios/Flutter/.last_build_id

# IDE
.idea/
.vscode/
*.iml

# Environment
.env
.env.*

# Logs
*.log

# Keystore
*.jks
*.keystore
*.hprof

# OS
.DS_Store
Thumbs.db